<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        b {
            background-color: rgb(159, 11, 11);
        }
    </style>
</head>
<body>
    
</body>
</html> -->

{% extends 'teacher/base.html' %}

{% block title %}Teacher | Home{% endblock title %}

{% block body %}

    <div class="col-lg-12">
        {% for course in courses %}
            <div style="margin-top: 70px;" class="col-lg-3 col-md-6">
                <div class="panel panel-green card">
                    <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3"><i class="fa fa-check fa-5x"></i></div>
                        <div class="col-xs-9 text-right">
                        <div class="huge">{{ course }}</div>
                        <!-- <div>Cousrse Name</div> -->
                        </div>
                    </div>
                    </div><a href={% url 'course_report' %}?pk={{ course.pk }}>
                    <div class="panel-footer"><span class="pull-left">View Attendance</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div></a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-lg-12" {% if not courses %}style="margin-top: 70px;"{% endif %}>
        <h1>Your Attendance This Month</h1>

        <div class="month">      
            <ul>
                <li>
                    <span style="font-size:30px">{{ month }} {{ year }}</span>
                </li>
            </ul>
        </div>

        <ul class="weekdays">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
        </ul>

        <ul class="days" style="background-color: #FFFFFF">
            
            <div style="border-bottom: 1px gray solid; margin-top: 5px; margin-bottom: 20px;">
            {% with ''|center:first_day as range %}
            {% for i in range %}
                <li></li>
            {% endfor %}
            {% endwith %}
            {% for day in month_attendance %}
                {% if day == 'P' %}
                <li><span class="date present">{{ forloop.counter }}</span></li>
                {% elif day == 'A' %}
                <li><span class="date absent">{{ forloop.counter }}</span></li>
                {% else %}
                <li>{{ forloop.counter }}</li>
                {% endif %}

                {% if first_day < 1 %}
                    {% if forloop.counter|divisibleby:7 %}
                        </div><div style="border-bottom: 1px gray solid; margin-top: 20px; margin-bottom: 20px;">
                    {% endif %}
                {% else %}
                    {% with forloop.counter|add:first_day as temp %}
                        {% if temp|divisibleby:7 %}
                            </div><div style="border-bottom: 1px gray solid; margin-top: 20px; margin-bottom: 20px;">
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {% comment %} {% if forloop.counter < 7 and forloop.counter|add:first_day %}{% endif %} {% endcomment %}
            {% endfor %}
            </div>
            </div>
        </ul>
    </div>
{% endblock body %}