<html>
<head>
  
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title>Teacher | Report</title>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        
            <!Logout Button!>
            <div class="nav navbar-header navbar-profile  pull-right">
                <ul class="nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle"><img src="https://user-images.githubusercontent.com/100554055/168123023-98f69162-c381-4599-a4f0-095d7ebab2a6.svg" width="30" height="30"> {{ request.user }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#profile" title="Profile">Profile</a>
                            </li>
                            <li>
                                <a href="#logout" title="Logout">Logout </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!Logout Button!>
        
        
            <!Nav Bar!>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href={% url 'teacher_home' %}>Home</a></li>
                    <li><a href="teacher_report">Teacher Report</a></li>
                    <li><a href="student_report">Student Report</a></li>     
                </ul>
            </div>
        </div>
    </nav>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" style="margin-top: 70px">
            {% if message.tags == "success" %}
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {% endif %}
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    <form method="POST" action="teacher_report">
        {% csrf_token %}
        <div class="search" style="margin-top: 70px">
            <label for="date_from">Date From</label>
            <input type="date" id="date_from" name="date_from" {% if date_from %}value="{{ date_from }}"{% endif %}>
            <label for="date_to">Date To</label>
            <input type="date" id="date_to" name="date_to" {% if date_to %}value="{{ date_to }}"{% endif %}>
            <button type="submit" class="btn btn-primary" style="margin-left: 50px">Search</i></button>    
        </div>
    </form>
    <br>

    {% if search %}
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Teacher Name</th>
                <th scope="col">Email</th>
                <th scope="col">Check In</th>
                <th scope="col">Check Out</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in search %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>                    
                        <td>{{ obj.teacher.teacher_name }}</td>
                        <td>{{ obj.teacher.user.email }}</td>
                        <td>{{ obj.checkin_time }}</td>
                        <td>{{ obj.checkout_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="csv-btn">
            <a href="{% url 'generate_teacher_csv' %}?pk={{ data_obj_pk }}"><button type="button" class="btn btn-primary">Download CSV</i></button> 
        </div>
    {% else %}
        <div class="col-md-4"></div>
        <img src="/media/images/no_data.jpg" alt="No data" width="400" height="400">
    {% endif %}

</body>
</html>

<style>
.navbar-profile ul.nav > li > a {
  color: #134e0a;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.navbar-profile ul.nav > li .dropdown-menu {
  right: 0;
  left: auto;
}

@media (max-width: 767px) {
  .navbar-profile {
    position: absolute;
    display: inline-block;
    width: auto;
    right: 80px;
    top: 0;
    text-align: center;
    margin: auto;
  }
}

.navbar-default {
  background-color: #21a860;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.search{
  text-align: center;  
}
.table-bordered{
  width: 80%;
  margin-left: auto;
  margin-right: auto;    
}
.csv-btn{
  text-align: center;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>