{% extends 'base.html' %}

{% block title %}Complete Teacher Registration{% endblock title %}

{% block body %}
  <!-- /Register Teacher-->
  <div class="row">
    <div class="col-md-auto"></div>
    <div class="col-md-auto">
      <form method="post" action={% url 'complete_signup' %} enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="page-header">Complete Teacher Registeration</h1>
        <legend><span class="number">1</span>Sign Up info</legend>
        <label class="is-invalid">Username:</label>
        {{ t_user.username }}

        <label class="is-invalid">Email:</label>
        {{ t_user.email }}

        <input hidden id="email" name="email" value="{{ t_user.email }}">               
      
        <legend><span class="number">2</span>Profile</legend>
        <label class="is-invalid">Name:</label>
        <div class="invalid-feedback">
          {{ form.teacher_name.errors }}
        </div>
        {{ form.teacher_name }} 
    
        <label class="is-invalid">Teacher Type:</label>
        <div class="invalid-feedback">
          {{ form.teacher_status.errors }}
        </div>
        {{ form.teacher_status }}
        <br><br>

        <label class="is-invalid">Designation:</label>
        <div class="invalid-feedback">
          {{ form.teacher_designation.errors }}
        </div>
        {{ form.teacher_designation }}
        <br><br>

        <legend><span class="number">3</span>Upload Images</legend>  
        <br>

        <div class="form-outline mb-4">
          <label class="form-label mx-2 is-invalid" for="img1">Image 1</label>
          <div class="invalid-feedback">
            {{ form.img1.errors }}
          </div>
          {{ form.img1 }}
        </div>
        <br>

        <div class="form-outline mb-4">
          <label class="form-label mx-2" for="img1">Image 2</label>
          <div class="invalid-feedback">
            {{ form.img2.errors }}
          </div>
          {{ form.img2 }}
        </div>
        <br>

        <div class="form-outline mb-4">
          <label class="form-label mx-2" for="img1">Image 3</label>
          <div class="invalid-feedback">
            {{ form.img3.errors }}
          </div>
          {{ form.img3 }}
        </div>
        <br><br>

        <button type="submit">Register</button>

      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
{% endblock body %}

{% block style %}
  <style>
    @charset "UTF-8";
    /*!
    * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (https://startbootstrap.com)
    * Code licensed under the Apache License v2.0.
    * For details, see http://www.apache.org/licenses/LICENSE-2.0.
    */
    body {
      background-color: #f8f8f8;
    }

    .errorlist {
      font-size: 14px;
      color: red;
    }
  
    .invalid-feedback {
      font-size: 14px;
      color: red;
    }

    #wrapper {
      width: 100%;
    }

    #page-wrapper {
      padding: 0 15px;
      min-height: 568px;
      background-color: #fff;
    }

    @media (min-width: 768px) {
      #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
      }
    }
    .navbar-top-links {
      margin-right: 0;
    }

    .navbar-top-links li {
      display: inline-block;
    }

    .navbar-top-links li:last-child {
      margin-right: 15px;
    }

    .navbar-top-links li a {
      padding: 15px;
      min-height: 50px;
    }

    .navbar-top-links .dropdown-menu li {
      display: block;
    }

    .navbar-top-links .dropdown-menu li:last-child {
      margin-right: 0;
    }

    .navbar-top-links .dropdown-menu li a {
      padding: 3px 20px;
      min-height: 0;
    }

    .navbar-top-links .dropdown-menu li a div {
      white-space: normal;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
      width: 310px;
      min-width: 0;
    }

    .navbar-top-links .dropdown-messages {
      margin-left: 5px;
    }

    .navbar-top-links .dropdown-tasks {
      margin-left: -59px;
    }

    .navbar-top-links .dropdown-alerts {
      margin-left: -123px;
    }

    .navbar-top-links .dropdown-user {
      right: 0;
      left: auto;
    }

    .sidebar .sidebar-nav.navbar-collapse {
      padding-right: 0;
      padding-left: 0;
    }

    .sidebar .sidebar-search {
      padding: 15px;
    }

    .sidebar ul li {
      border-bottom: 1px solid #e7e7e7;
    }

    .sidebar ul li a.active {
      background-color: #eee;
    }

    .sidebar .arrow {
      float: right;
    }

    .sidebar .fa.arrow:before {
      content: "";
    }

    .sidebar .active > a > .fa.arrow:before {
      content: "";
    }

    .sidebar .nav-second-level li,
    .sidebar .nav-third-level li {
      border-bottom: 0 !important;
    }

    .sidebar .nav-second-level li a {
      padding-left: 37px;
    }

    .sidebar .nav-third-level li a {
      padding-left: 52px;
    }

    @media (min-width: 768px) {
      .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
      }

      .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
      }
    }
    .btn-outline {
      color: inherit;
      background-color: transparent;
      transition: all 0.5s;
    }

    .btn-primary.btn-outline {
      color: #428bca;
    }

    .btn-success.btn-outline {
      color: #5cb85c;
    }

    .btn-info.btn-outline {
      color: #5bc0de;
    }

    .btn-warning.btn-outline {
      color: #f0ad4e;
    }

    .btn-danger.btn-outline {
      color: #d9534f;
    }

    *, *:before, *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
      
    form {
      max-width: 250px;
      margin: 10px auto;
      padding: 10px 20px;
      background: #f4f7f8;
      border-radius: 8px;
    }

    h1 {
      margin: 0 0 25px 0;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-family: 'Nunito', sans-serif;
      font-weight: normal;
      color: #384047;
      font-size: 1rem;
    }
      
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
      background: rgba(255,255,255,0.1);
      border: none;
      font-size: 14px;
      height: auto;
      margin: 0;
      outline: 0;
      padding: 15px;
      width: 100%;
      background-color: #e8eeef;
      color: #8a97a0;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      margin-bottom: 30px;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin: 0 4px 8px 0;
    }

    select {
      padding: 6px;
      height: 28px;
      border-radius: 2px;
    }

    button {
      padding: 17px 37px 16px 37px;
      color: #FFF;
      background-color: #47AB11;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      border-radius: 5px;
      width: 100%;
      border: 1px solid #3ac162;
      border-width: 1px 1px 3px;
      box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
      margin-bottom: 10px;
    }

    fieldset {
      margin-bottom: 5px;
      border: none;
    }

    legend {
      font-size: 1.4em;
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    label.light {
      font-weight: 300;
      display: inline;
    }

    .number {
      background-color: #47AB11;
      color: #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      font-size: 0.8em;
      margin-right: 4px;
      line-height: 30px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.2);
      border-radius: 100%;
    }

    @media screen and (min-width: 480px) {

      form {
        max-width: 480px;
      }

    }

    .col-md-auto{
      padding: 5px;
      background: #21a860;
      height: 100%;
    }

    .col-md-6{
      border-top-style: solid;
      border-top-color: #21a860;
    }

  </style>
{% endblock style %}

{% block js %}
  <script>
    $(function() {

        $('#side-menu').metisMenu();

    });

    // Loads the correct sidebar on window load, collapses the sidebar on window resize.
    // Sets the min-height of #page-wrapper to window size

    $(function() {
        $(window).bind("load resize", function() {
            topOffset = 50;
            width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse');
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse');
            }

            height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }
        });

        var url = window.location;
        var element = $('ul.nav a').filter(function() {
            return this.href == url || url.href.indexOf(this.href) == 0;
        }).addClass('active').parent().parent().addClass('in').parent();
        if (element.is('li')) {
            element.addClass('active');
        }
    });
  </script>
{% endblock js %}